@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    box-sizing: content-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

#heading {
    background-color: rgb(163, 17, 17);
    color: whitesmoke;
}

#icon {
    height: 80px;
}

@media screen and (max-width: 606px) {
    #icon {
        margin-top: 2.5em;
    }
}

main {
    overflow: auto; 
}

#content {
    margin: 5px;
}

article {
    border: 2px solid;
    margin: 7px;
    border-radius: 15px;
}

#description {
    box-shadow: 0 5px 3px rgb(235, 204, 29);
    text-align: center;
}


#description-img img {
    height: 300px;
    border: 1px solid;
}

#description table {
    width: 98%;
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table tr:nth-child(even) {
    background-color: rgb(167, 167, 167);
}

table tr td {
    border: black 2px solid;
}

td {
    padding-right: 10px;
}

#geography {
    box-shadow: -5px 5px 3px sandybrown;
}

.left-headline {
    margin-left: 20px;
}

.right-headline {
    margin-right: 20px;
}

#geography-img {
    float: left;
    border: 1px solid;
    background-color: rgb(175, 175, 175);
    padding: 5px;
}

#geography-img img {
    height: 300px;
}

#geography p {
    padding: 5px;
}

@media screen and (max-width: 632px) {
    #description table {
        width: 95%;
    }

    #geography-img img {
        height: 200px;
    }
}

#history {
    text-align: right;
    box-shadow: 5px 5px 3px rgb(214, 0, 0);
}

#history-img {
    float: right;
    background-color: rgb(175, 175, 175);
    border: 1px solid;
    padding: 5px;
}

#history-img img {
    height: 300px;
    border: 1px solid;
}

#history p {
    padding: 5px;
}

#highlight-spots {
    box-shadow: -5px 5px 3px green;
}

#highlight-spots h2, p, sup {
    margin-left: 10px;
}

#highlight-spots section {
    border: 1px solid;
    box-shadow: 3px 3px 5px black;
    margin: 10px;
}

#highlight-spots section h3, p {
    margin-left: 10px;
}

#highlight-spots .right-side h3, p {
    margin-right: 10px;
}

#highlight-spots img {
    border: 1px solid;
    margin: 0 10px 0 10px;
}

blockquote {
    background-color: rgb(163, 163, 163);
    padding: 5px;
}

.right-side {
    text-align: right;
}

.landscape-pic {
    height: 200px;
}

.portrait-pic {
    width: 200px;
}

#nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 487px) {
    .landscape-pic {
        height: 150px;
    }
}

@media screen and (max-width: 453px) {
    #geography-img img {
        height: 150px;
    }
}
